{% extends 'base.html' %} 
{% block content %}
<h3>List of books</h3>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<table style="min-width: 600px;">
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Year published</th>
    <th>Publisher</th>
    <th>ISBN</th>
    <th>Checkout</th>
  </tr>
  {% for book in books %}
<tr>
  <td>{{ book.author }}</td>
  <td>{{ book.title }}</td>
  <td>{{ book.year }}</td>
  <td>{{ book.publisher }}</td>
  <td>{{ book.isbn }}</td>
  <td>
    {% if book.rented %}
      <p>Rented by: {{ book.rented_by }}</p>
      <form action="/return" method="post">
        <input type="hidden" name="id" value="{{ book.id }}" />
        <input type="hidden" name="neptun" value="{{ book.rented_by }}" />
        <button>Return</button>
      </form>
    {% else %}
      <form action="/checkout" method="post">
        <input type="hidden" name="id" value="{{ book.id }}" />
        <select name="neptun">
          {% for member in members %}
          <option value="{{ member.neptun }}">
            {{ member.name }} ({{ member.neptun }})
          </option>
          {% endfor %}
        </select>
        <button>Checkout</button>
      </form>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<h3>Add book</h3>
<form action="/books" method="POST">
  <input type="text" name="author" placeholder="Author" required />
  <input type="text" name="title" placeholder="Title" required />
  <input type="number" name="year" placeholder="Year published" required />
  <input type="text" name="publisher" placeholder="Publisher" required />
  <input type="text" name="isbn" placeholder="ISBN" required />
  <input type="submit" value="Add" />
</form>
{% endblock %}
